# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local databases and training logs
database/*.db
logs/
reports/
.pytest_cache/
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.venv/
env/

# Ignore saved model weights
models/*.pth
datasets/*.npz

# Ignore Git files
.git
.gitignore
